In [2]:
import numpy as np
import pandas as pd

In [3]:
link = 'https://raw.githubusercontent.com/alango89/Python/main/Demographic%20Data%20%20Analyzer/adult.data.csv'
df = pd.read_csv(link, sep =',')

In [84]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [10]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [106]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [104]:
# What is the average age of men?
average_age_men = round(df.loc[df['sex'] == 'Male',['age']].mean()[0],2)
round(df.loc[df['sex'] == 'Male',['age']].mean()[0],2)

39.43

In [107]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(df.loc[df['education'] == 'Bachelors','education'].count() / df['education'].count() * 100,2)

In [110]:
mask1 = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
mask2 = (df['salary'] == '>50K')
mask3 = ~mask1

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[mask1,'education'].count()
lower_education = df.loc[mask3,'education'].count()

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
higher_education_rich = round(df.loc[mask1 & mask2,'education'].count() / higher_education * 100,2)

# What percentage of people without advanced education make more than 50K?
lower_education_rich = round(df.loc[mask3 & mask2,'education'].count() / lower_education * 100,2)

In [15]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

In [16]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = (df['hours-per-week'] == df['hours-per-week'].min()) # trabajadores que trabajan el mínimo.
# mask2 ya lo tengo de antes: salarios > 50K.
rich_percentage = df.loc[num_min_workers & mask2,'education'].count() / df.loc[num_min_workers,'education'].count() * 100

In [112]:
# What country has the highest percentage of people that earn >50K?

p = ((df.loc[mask2]['native-country'].value_counts() / df['native-country'].value_counts())*100).sort_values(ascending=False)


highest_earning_country = p.index[0]
highest_earning_country_percentage = round(p[0],2)

In [114]:
# Identify the most popular occupation for those who earn >50K in India.

occupation = df.loc[(mask2) & (df['native-country']=='India')]['occupation'].value_counts().sort_values(ascending=False)
top_IN_occupation = occupation.index[0]

In [115]:

print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.43
Percentage with Bachelors degrees: 16.45%
Percentage with higher education that earn >50K: 46.54%
Percentage without higher education that earn >50K: 17.37%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.86%
Top occupations in India: Prof-specialty